@mixin default-buttons {
	width: 50%;
	border: none;
	margin: 0;
	padding: 5px;
	border-radius: 2px;
	cursor: pointer;
	background-color: rgb(239, 239, 239);
}

body
{
	width: 50vw;
	height: 100%;
	overflow-x: hidden;
	margin: 0 auto 0 auto;
	padding: 50px 0 0 0;
	background-image: url("./../images/water-drop.jpg");
	background-size: 150vw;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: "Noto Sans KR", cursive;

	.timer // <div>
	{
		// ===== In the <Timer /> component =====
		div
		{
			.timer__title // <h1>
			{
				font-size: 2rem;
				color: rgb(255, 255, 255);
				text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.75), -1px -1px 2px rgba(255, 255, 255, 0.75);
				letter-spacing: 2px;
				word-spacing: 4px;
				text-align: center;
				margin: 0 0 50px 0;
			}

			.timer__display // <div>
			{
				font-size: 8rem;
				font-family: "Source Code Pro", cursive;
				color: rgb(255, 255, 255);
				text-align: center;
				margin: 0 0 50px;
			}

			.timer__start-stop-reset // <div>
			{
				display: grid;
				grid-template-columns: 1fr 1fr;
				justify-items: center;
				margin-bottom: 30px;

				// ===== In the <StartStopTimer /> component =====
				.timer__start-stop // <button>
				{
					@include default-buttons;
					background-color: rgb(46, 125, 50);
					border-style: solid;
					border-width: 2px;
					border-color: rgb(46, 125, 50);
					width: calc(50% + 10%);
					padding: calc(5px + 5px);
					color: rgb(255, 255, 255);
					font-size: 1rem;
					font-weight: bold;
					word-wrap: nowrap;
					letter-spacing: 2px;
				}

				.timer__stop-start // <button>
				{
					@include default-buttons;
					background-color: rgb(204, 0, 0);
					border-style: solid;
					border-width: 2px;
					border-color: rgb(204, 0, 0);
					width: calc(50% + 10%);
					padding: calc(5px + 5px);
					color: rgb(255, 255, 255);
					font-size: 1rem;
					font-weight: bold;
					word-wrap: nowrap;
					letter-spacing: 2px;
				}

				.timer__reset--active // <button>
				{
					@include default-buttons;
					border-style: solid;
					border-width: 2px;
					border-color: rgb(204, 0, 0);
					width: calc(50% + 10%);
					padding: calc(5px + 5px);
					color: rgb(204, 0, 0);
					font-size: 1rem;
					font-weight: bold;
					letter-spacing: 2px;
				}

				.timer__reset--inactive // <button>
				{
					@include default-buttons;
					width: calc(50% + 10%);
					padding: calc(5px + 5px);
					font-size: 1rem;
					font-weight: bold;
				}
			}

			.timer__timer-at-25 // <div>
			{
				text-align: center;
				margin-bottom: 20px;

				// ===== In the <TimerAt25 /> =====
				.timer__set-timer-at-25 // <button>
				{
					@include default-buttons;
					width: calc(50% / 2);
				}
			}

			.timer__add-sub-minutes // <div>
			{
				display: grid;
				grid-template-columns: 1fr 1fr;
				justify-items: center;
				margin-bottom: 20px;

				// ===== In the <AddMinutes /> & <SubMinutes /> =====
				.timer__set-add-sub // <button>
				{
					@include default-buttons;
					width: calc(50% / 1.5);

				}
			}

			.timer__add-sub-seconds // <div>
			{
				display: grid;
				grid-template-columns: 1fr 1fr;
				justify-items: center;

				// ===== In the <AddSeconds /> & <SubSeconds /> =====
				.timer__set-add-sub // <button>
				{
					@include default-buttons;
					width: calc(50% / 1.5);
				}
			}

			.modal--visible // <div>
			{
				display: flex;
				align-items: center;
				position: absolute;
				top: 5%;
				left: 5%;
				width: 90%;
				height: 90%;
				background-color: rgb(255, 255, 255);
				box-sizing: border-box;
				border-radius: 5px;

				.modal__content // <div>
				{
					width: 60%;
					margin: 0 auto 0 auto;

					.modal__text // <div>
					{
						.modal__image-box // <figure>
						{
							margin: 0 auto 50px auto;
							width: 200px;
							height: 200px;


							.modal__image // <img>
							{
								width: 100%;
								text-align: center;
							}
						}

						.modal__work // <p>
						{
							margin: 0 0 20px 0;
							text-align: center;
							font-size: 1.5rem;

						}

						.modal__rest // <p>
						{
							margin: 0 0 50px 0;
							text-align: center;
							font-size: 1.5rem;
						}
					}
				}

				.modal__buttons // <div>
				{
					display: grid;
					grid-template-columns: 1fr 1fr;
					justify-items: center;

					.modal__close // <button>
					{
						@include default-buttons;
						background-color: rgb(21, 101, 192);
						border-style: solid;
						border-width: 2px;
						border-color: rgb(21, 101, 192);
						color: rgb(255, 255, 255);
						padding: calc(5px + 5px);
						font-weight: 700;
						letter-spacing: 2px;
					}

					.modal__restart // <button>
					{
						@include default-buttons;
						color: rgb(21, 101, 192);
						padding: calc(5px + 5px);
						border-style: solid;
						border-width: 2px;
						border-color: rgb(21, 101, 192);
						font-weight: 700;
						letter-spacing: 2px;
					}
				}
			}

			.modal--hidden // <div>
			{
				position: absolute;
				top: 0;
				visibility: hidden;
			}
		}
	}
}