@-webkit-keyframes pulse {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: scale(1.05, 1.05);
            transform: scale(1.05, 1.05);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: scale(1.05, 1.05);
            transform: scale(1.05, 1.05);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@media screen {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    overflow-x: hidden;
    margin: 0 auto 0 auto;
    background-color: #E1E2E1;
    font-family: "Noto Sans KR", cursive;
  }
  body .timer {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 100%;
  }
  body .timer div .timer__title {
    font-size: 1.5rem;
    height: 15vh;
    line-height: 15vh;
    background-color: #2e7c31;
    color: white;
    word-spacing: 4px;
    padding-left: 20px;
    margin: 0 0 40px 0;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
}

@media screen and (max-width: 499px) {
  body .timer div .timer__display {
    border-radius: 20px;
    width: 55%;
    font-size: 350%;
    font-family: "Source Code Pro", cursive;
    color: #2e7d32;
    background-color: white;
    text-align: center;
    margin: 0 auto 40px auto;
    padding: 20px;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
}

@media screen {
  body .timer div .timer__buttons {
    padding: 0 20px 0 20px;
  }
  body .timer div .timer__buttons .timer__align-buttons {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 40px;
  }
  body .timer div .timer__buttons .timer__align-buttons .timer__first-column .timer__set-add-sub {
    display: block;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 0 auto 0 auto;
    padding: 0;
    cursor: pointer;
    background-color: white;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  body .timer div .timer__buttons .timer__align-buttons .timer__first-column .timer__set-add-sub:first-of-type {
    margin-bottom: 10px;
  }
  body .timer div .timer__buttons .timer__align-buttons .timer__second-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .timer div .timer__buttons .timer__align-buttons .timer__second-column .timer__start-stop {
    display: block;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 0 auto 0 auto;
    padding: 0;
    cursor: pointer;
    background-color: white;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    background-color: #2e7d32;
    border-style: solid;
    border-width: 2px;
    border-color: #2e7d32;
    border-radius: 2px;
    width: 100%;
    padding: calc(5px + 5px);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 2px;
  }
  body .timer div .timer__buttons .timer__align-buttons .timer__second-column .timer__stop-start {
    display: block;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 0 auto 0 auto;
    padding: 0;
    cursor: pointer;
    background-color: white;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-color: #2e7d32;
    border-radius: 2px;
    width: 100%;
    padding: calc(5px + 5px);
    color: #2e7d32;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 2px;
  }
  body .timer div .timer__buttons .timer__align-buttons .timer__third-column .timer__set-add-sub {
    display: block;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 0 auto 0 auto;
    padding: 0;
    cursor: pointer;
    background-color: white;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  body .timer div .timer__buttons .timer__align-buttons .timer__third-column .timer__set-add-sub:first-of-type {
    margin-bottom: 10px;
  }
  body .timer div .timer__buttons .timer__reset {
    text-align: center;
  }
  body .timer div .timer__buttons .timer__reset .timer__reset--active {
    display: block;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 0 auto 0 auto;
    padding: 0;
    cursor: pointer;
    background-color: white;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-width: 2px;
    border-color: #cc0000;
    width: 35%;
    color: #cc0000;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 2px;
  }
  body .timer div .timer__buttons .timer__reset .timer__reset--inactive {
    display: block;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 0 auto 0 auto;
    padding: 0;
    cursor: pointer;
    background-color: white;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: 35%;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 2px;
  }
  body .timer div .modal--visible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation-name: pulse;
            animation-name: pulse;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    background-color: white;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 5px;
  }
  body .timer div .modal--visible .modal__content {
    padding: 20px;
    margin: 0 auto 0 auto;
  }
  body .timer div .modal--visible .modal__content .modal__text .modal__image-box {
    margin: 0 auto 40px auto;
    width: 175px;
    height: 175px;
  }
  body .timer div .modal--visible .modal__content .modal__text .modal__image-box .modal__image {
    width: 100%;
    text-align: center;
  }
  body .timer div .modal--visible .modal__content .modal__text .modal__work {
    margin: 0 0 20px 0;
    text-align: center;
    font-size: 1.2rem;
  }
  body .timer div .modal--visible .modal__content .modal__text .modal__rest {
    margin: 0 0 40px 0;
    text-align: center;
    font-size: 1.2rem;
  }
  body .timer div .modal--visible .modal__buttons {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  body .timer div .modal--visible .modal__buttons .modal__close {
    display: block;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 0 auto 0 auto;
    padding: 0;
    cursor: pointer;
    background-color: white;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    background-color: #2e7d32;
    width: 80%;
    border-style: solid;
    border-width: 2px;
    border-color: #2e7d32;
    color: white;
    font-weight: 700;
    letter-spacing: 2px;
  }
  body .timer div .modal--visible .modal__buttons .modal__restart {
    display: block;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 0 auto 0 auto;
    padding: 0;
    cursor: pointer;
    background-color: white;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    color: #2e7d32;
    width: 80%;
    border-style: solid;
    border-width: 2px;
    border-color: #2e7d32;
    font-weight: 700;
    letter-spacing: 2px;
  }
  body .timer div .modal--hidden {
    position: absolute;
    top: 0;
    visibility: hidden;
  }
}
