@-webkit-keyframes pulse {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: scale(1.05, 1.05);
            transform: scale(1.05, 1.05);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: scale(1.05, 1.05);
            transform: scale(1.05, 1.05);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@media screen {
  body {
    height: 100%;
    overflow-x: hidden;
    margin: 0 auto 0 auto;
    padding: 20px;
    background-image: url("./../images/water-drop.jpg");
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Noto Sans KR", cursive;
  }
  body .timer div .timer__title {
    font-size: 1.5rem;
    color: white;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.75), -1px -1px 2px rgba(255, 255, 255, 0.75);
    letter-spacing: 2px;
    word-spacing: 4px;
    text-align: center;
    margin: 0 0 40px 0;
  }
}

@media screen and (max-width: 499px) {
  body .timer div .timer__display {
    font-size: 5rem;
    font-family: "Source Code Pro", cursive;
    color: white;
    text-align: center;
    margin: 0 0 40px;
  }
}

@media screen {
  body .timer div .timer__start-stop-reset {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin-bottom: 30px;
  }
  body .timer div .timer__start-stop-reset .timer__start-stop {
    width: 50%;
    border: none;
    margin: 0;
    padding: 5px;
    border-radius: 2px;
    cursor: pointer;
    background-color: #efefef;
    background-color: #2e7d32;
    border-style: solid;
    border-width: 2px;
    border-color: #2e7d32;
    width: calc(50% + 10%);
    padding: calc(5px + 5px);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    word-wrap: nowrap;
    letter-spacing: 2px;
  }
  body .timer div .timer__start-stop-reset .timer__stop-start {
    width: 50%;
    border: none;
    margin: 0;
    padding: 5px;
    border-radius: 2px;
    cursor: pointer;
    background-color: #efefef;
    background-color: #cc0000;
    border-style: solid;
    border-width: 2px;
    border-color: #cc0000;
    width: calc(50% + 10%);
    padding: calc(5px + 5px);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    word-wrap: nowrap;
    letter-spacing: 2px;
  }
  body .timer div .timer__start-stop-reset .timer__reset--active {
    width: 50%;
    border: none;
    margin: 0;
    padding: 5px;
    border-radius: 2px;
    cursor: pointer;
    background-color: #efefef;
    border-style: solid;
    border-width: 2px;
    border-color: #cc0000;
    width: calc(50% + 10%);
    padding: calc(5px + 5px);
    color: #cc0000;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 2px;
  }
  body .timer div .timer__start-stop-reset .timer__reset--inactive {
    width: 50%;
    border: none;
    margin: 0;
    padding: 5px;
    border-radius: 2px;
    cursor: pointer;
    background-color: #efefef;
    width: calc(50% + 10%);
    padding: calc(5px + 5px);
    font-size: 1rem;
    font-weight: bold;
  }
  body .timer div .timer__timer-at-25 {
    text-align: center;
    margin-bottom: 20px;
  }
  body .timer div .timer__timer-at-25 .timer__set-timer-at-25 {
    width: 50%;
    border: none;
    margin: 0;
    padding: 5px;
    border-radius: 2px;
    cursor: pointer;
    background-color: #efefef;
    width: calc(50% / 2);
  }
  body .timer div .timer__add-sub-minutes {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin-bottom: 20px;
  }
  body .timer div .timer__add-sub-minutes .timer__set-add-sub {
    width: 50%;
    border: none;
    margin: 0;
    padding: 5px;
    border-radius: 2px;
    cursor: pointer;
    background-color: #efefef;
    width: calc(50% / 1.5);
  }
  body .timer div .timer__add-sub-seconds {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  body .timer div .timer__add-sub-seconds .timer__set-add-sub {
    width: 50%;
    border: none;
    margin: 0;
    padding: 5px;
    border-radius: 2px;
    cursor: pointer;
    background-color: #efefef;
    width: calc(50% / 1.5);
  }
  body .timer div .modal--visible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation-name: pulse;
            animation-name: pulse;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    background-color: white;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 5px;
  }
  body .timer div .modal--visible .modal__content {
    padding: 20px;
    margin: 0 auto 0 auto;
  }
  body .timer div .modal--visible .modal__content .modal__text .modal__image-box {
    margin: 0 auto 40px auto;
    width: 175px;
    height: 175px;
  }
  body .timer div .modal--visible .modal__content .modal__text .modal__image-box .modal__image {
    width: 100%;
    text-align: center;
  }
  body .timer div .modal--visible .modal__content .modal__text .modal__work {
    margin: 0 0 20px 0;
    text-align: center;
    font-size: 1.2rem;
  }
  body .timer div .modal--visible .modal__content .modal__text .modal__rest {
    margin: 0 0 40px 0;
    text-align: center;
    font-size: 1.2rem;
  }
  body .timer div .modal--visible .modal__buttons {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  body .timer div .modal--visible .modal__buttons .modal__close {
    width: 50%;
    border: none;
    margin: 0;
    padding: 5px;
    border-radius: 2px;
    cursor: pointer;
    background-color: #efefef;
    background-color: #1565c0;
    width: 80%;
    border-style: solid;
    border-width: 2px;
    border-color: #1565c0;
    color: white;
    padding: calc(5px + 5px);
    font-weight: 700;
    letter-spacing: 2px;
  }
  body .timer div .modal--visible .modal__buttons .modal__restart {
    width: 50%;
    border: none;
    margin: 0;
    padding: 5px;
    border-radius: 2px;
    cursor: pointer;
    background-color: #efefef;
    color: #1565c0;
    width: 80%;
    padding: calc(5px + 5px);
    border-style: solid;
    border-width: 2px;
    border-color: #1565c0;
    font-weight: 700;
    letter-spacing: 2px;
  }
  body .timer div .modal--hidden {
    position: absolute;
    top: 0;
    visibility: hidden;
  }
}
